*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #000;
  color: #8491a0;
  font: 400 1rem "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

button,
input,
textarea {
  background-color: transparent;
  border-radius: 0;
  border-style: none;
  color: inherit;
  letter-spacing: inherit;
  margin: 0;
  outline: 0 !important;
  padding: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

textarea {
  outline: none;
  overflow: hidden;
  padding: 15px;
  resize: none;
}

input {
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

.title--h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 66px;
  color: #fff;
}

.title--h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
}

.title--h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
}

.container {
  max-width: 1316px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-primary {
  padding: 120px 0;
  position: relative;
}

.section-primary__desc {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 700;
  color: #8491a0;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.section-primary__text {
  padding: 24px 0 0;
  font-size: 1.8rem;
  line-height: 27px;
  color: #8491a0;
  margin-bottom: 40px;
  width: 575px;
}

.btn {
  font-family: "Sen", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #5221e6;
  display: inline-block;
  background-color: transparent;
}

.btn:active {
  background-color: #e95d90;
}

.header {
  background-color: #181823;
  display: flex;
}

.header__img {
  padding: 32px 72px 110px;
  background-color: #000;
  width: 540px;
}

.navBurger {
  display: none;
}

.nav-menu {
  padding: 32px 72px 110px;
  margin-left: auto;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__item {
  margin-right: 48px;
}

.nav-menu__link {
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
  position: relative;
  padding: 34px;
  transition: 0.2s all;
}

.nav-menu__link:hover {
  background-color: #5221e6;
  z-index: 1;
}

.nav-menu__item:hover .box {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.nav-menu__item:hover .nav-menu__link:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.top {
  position: relative;
  display: flex;
  background-color: #181823;
  padding-bottom: 84px;
  z-index: 1;
}

.top__img {
  position: relative;
}

.top::before {
  width: 500px;
  height: 84px;
  background-color: #000;
  position: absolute;
  content: "";
  bottom: 0px;
  z-index: -2;
}

.top__desc {
  transform: translate(-88px, 0px);
}

.top__title {
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 94px;
  color: #fff;
  margin: 140px 0 32px;
}

.top__title > span {
  color: #8491a0;
}

.top__text {
  font-size: 1.8rem;
  line-height: 27px;
  color: #fff;
}

.work-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 0;
}

.work-content__item {
  width: 368px;
}

.work-content__number {
  font-size: 11.7rem;
  line-height: 141px;
  color: #8491a0;
}

.work-content__title {
  margin-bottom: 22px;
}

.work-content__title--google {
  color: #3cc74e;
}

.work-content__title--facebook {
  color: #5221e6;
}

.work-content__title--dribbble {
  color: #e95d90;
}

.work-content__text {
  font-size: 1.6rem;
  line-height: 24px;
  color: #8491a0;
}

.about {
  display: flex;
}

.about__desc {
  padding: 120px 72px;
  background-color: #fff3e4;
  width: 50%;
}

.about__title {
  color: #181823;
}

.about__text {
  margin: 24px 0 134px 0;
  font-size: 1.8rem;
  line-height: 27px;
  color: #5b6876;
}

.about__link {
  padding: 4px 0;
  font-size: 1.6rem;
  line-height: 24px;
  color: #181823;
  border-bottom: 1px solid #8491a0;
}

.about__images {
  width: 50%;
  background: url(../images/about-img.png) no-repeat;
  background-size: cover;
}

.about__images--instagram {
  width: 50%;
  background: url(../images/plane-img.png) no-repeat;
  background-size: cover;
}

.skills__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.skills__content-inner {
  display: flex;
}

.skills__content-item {
  width: 368px;
  margin-right: auto;
}

.skills__content-item:nth-child(2) {
  margin-left: 72px;
}

.skills__content-img {
  width: 32px;
  height: 32px;
}

.skills__content-desc {
  padding: 24px 0 0;
  font-size: 1.8rem;
  line-height: 27px;
  color: #8491a0;
}

.skills__content-title {
  padding: 24px 0 0;
}

.skills__content-text {
  font-size: 1.6rem;
  line-height: 24px;
  color: #8491a0;
  padding: 12px 0 48px;
}

.carousel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 140px;
  border: 1px solid #181823;
}

.projects {
  padding-bottom: 90px;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.projects h2 {
  margin-bottom: 80px;
}

.projects__content-col {
  width: 50%;
}

.projects__content-item {
  margin-bottom: 64px;
  width: 636px;
}

.projects__content-box {
  background-color: #181823;
  padding: 40px 32px;
}

.projects__content-item:nth-child(2) {
  margin-bottom: 150px;
}

.projects__content-text {
  padding: 13px 0 0;
  font-size: 1.8rem;
  line-height: 27px;
  color: #8491a0;
}

.projects__content-btn {
  display: flex;
  margin: 0 auto;
  width: 247px;
  height: 78px;
}

.projects__content-btn:hover {
  background-color: #5221e6;
  z-index: 1;
}

.projects__content-btn:active {
  z-index: 1;
}

.dribbble {
  padding: 120px 182px;
}

.dribbble__link {
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #8491a0;
  padding: 4px 0;
}

.dribbble__img {
  margin: 120px 0 0;
}

.reviews__content {
  display: flex;
  margin: auto;
}

.reviews__content-col:nth-child(1) {
  width: 588px;
}

.reviews__content-col:nth-child(2) {
  margin-left: auto;
}

.reviews__content-box {
  width: 636px;
  margin-bottom: 100px;
}

.reviews__content-box:nth-child(3) {
  margin-bottom: 0;
}

.reviews__content-desc {
  border: 1px solid #8491a0;
  padding: 64px;
}

.reviews__content-text {
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 64px;
}

.reviews__content-author {
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 700;
  color: #5b6876;
}

.reviews__content-author > span {
  font-weight: 400;
}

.tabs__nav-item-link {
  color: rebeccapurple;
  font-family: "Sen", sans-serif;
  font-size: 1.8rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  display: inline-block;
}

.tabs__nav-item {
  height: 51px;
  border: 1px solid #5221e6;
  text-align: center;
  padding: 15px;
}

.tabs__nav-item:nth-child(1) {
  width: 88px;
}

.tabs__nav-item:nth-child(2) {
  width: 136px;
}

.tabs__nav-item:nth-child(3) {
  width: 92px;
}

.tabs__nav-item:nth-child(4) {
  width: 102px;
}

.tabs__nav > .ui-tabs-active,
.ui-tabs-active .tabs__nav-item {
  transition: all 0.5s;
  color: #fff;
  text-align: center;
  background-color: #5221e6;
}

.tabs__nav {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.tabs__nav-item + .tabs__nav-item {
  margin-left: 20px;
}

.tabs__content {
  display: flex;
}

.tabs__content-img {
  margin-right: 24px;
}

.feedback__content {
  margin: 0 182px;
  display: flex;
}

.feedback__content-desc {
  width: 50%;
}

.feedback__content-form {
  margin-left: auto;
}

.feedback-form {
  width: 526px;
}

.feedback-form__label {
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
}

.feedback-form__input {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  background-color: #181823;
  margin: 8px 0 72px 0;
  padding: 10px;
  border: none;
}

.feedback-form textarea {
  font-family: "Sen", sans-serif;
  font-size: 1.6rem;
  height: 100px;
  margin-bottom: 40px;
}

.feedback-form__btn {
  height: 75px;
  width: 100%;
  background-color: #5221e6;
}

.feedback-form__btn:hover {
  background-color: #c7e0f4;
  border-color: #c7e0f4;
  color: #181823;
}

.feedback-form__btn:active {
  background-color: #e95d90;
  border-color: #e95d90;
}

.footer {
  background-color: #181823;
  padding: 80px 0;
}

.footer > .container {
  display: flex;
}

.footer .nav-menu__logo {
  width: 130px;
  height: 40px;
}

.footer__social {
  margin-top: 37px;
  display: flex;
  align-items: center;
}

.footer__social-link {
  margin-right: 20px;
}

.footer-info {
  margin-top: 144px;
  font-size: 1.6rem;
  line-height: 24px;
}

.footer-nav {
  margin-left: 345px;
  display: flex;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.footer-nav__list-item {
  margin-bottom: 24px;
}

.footer-nav__list-link {
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
}

.footer-info {
  margin-top: 46px;
  width: 100%;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #5221e6;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 1330px) {
  .container {
    max-width: 1206px;
    padding: 0;
  }

  .section-primary {
    padding: 120px 60px;
  }

  .projects__content-item {
    width: 500px;
    margin: 0 auto 64px;
  }

  .skills__content-item {
    width: 100%;
    margin-right: auto;
  }

  .feedback__content {
    margin: 0;
  }

  .footer {
    padding: 80px 50px;
  }

  .footer > .container {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .section-primary {
    padding: 120px 60px;
  }

  .section-primary__text {
    width: 100%;
  }

  .header {
    background-color: #000;
  }

  .header__img {
    padding: 32px 0 24px 40px;
    background-color: transparent;
    width: 100%;
  }

  .nav-menu {
    padding: 32px 0 110px;
    margin-left: auto;
  }

  .nav-menu__item {
    margin-right: 0;
  }

  .top {
    background-color: #000;
  }

  .top__title {
    font-size: 6rem;
  }

  .about__images {
    width: 50%;
    background: url(../images/about-img-768w.png) no-repeat;
    background-size: cover;
  }

  .skills__content {
    flex-wrap: wrap;
  }

  .skills__content-inner {
    margin-top: 48px;
  }

  .skills__content-item:nth-child(1) {
    width: 100%;
  }

  .projects__content-col {
    width: 636px;
    margin: 0 auto;
  }

  .reviews__content-col:nth-child(1) {
    width: 50%;
  }

  .reviews__content-col:nth-child(2) {
    width: 50%;
  }

  .reviews__content-box {
    width: 100%;
  }

  .tabs__content {
    flex-wrap: wrap;
  }

  .tabs__content-img {
    margin-bottom: 24px;
  }

  .feedback-form {
    width: 400px;
  }

  .footer-nav__list:nth-child(1) {
    margin-right: 100px;
  }

  .footer-nav__list:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .section-primary {
    padding: 80px 40px;
  }

  .top::before {
    display: none;
  }

  .top__title {
    font-size: 5.1rem;
    line-height: 67px;
    margin: 87px 0 32px;
  }

  .top__desc {
    transform: translate(-65px, 0px);
  }

  .work-content__item {
    width: 160px;
  }

  .work-content__title {
    margin-bottom: 24px;
  }

  .about__desc {
    padding: 80px 40px;
  }

  .about__text {
    margin-bottom: 67px;
  }

  .skills__content-inner {
    display: flex;
    width: 100%;
  }

  .skills__content-item:nth-child(1) {
    width: 100%;
    margin: 0 0 48px;
  }

  .skills__content-inner > .skills__content-item:nth-child(1) {
    width: 284px;
    margin: 0;
  }

  .skills__content-inner > .skills__content-item:nth-child(2) {
    width: 284px;
    margin-left: auto;
  }

  .projects__content-col {
    width: 100%;
  }

  .projects__content-item {
    margin: 0 auto 64px;
  }
  .projects__content-item:nth-child(2) {
    margin-bottom: 0;
  }

  .projects__content-btn {
    display: none;
  }

  .reviews__content-box {
    width: 332px;
  }

  .reviews__content-desc {
    padding: 32px;
  }

  .dribbble {
    padding: 80px 40px;
  }

  .tabs__content-img {
    width: 250px;
  }

  .feedback__content-desc {
    padding-right: 10px;
  }

  .feedback-form {
    width: 332px;
  }

  .footer-nav {
    margin-left: auto;
  }

  .footer-col {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .navBurger {
    z-index: 15;
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: #c4c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: content-box;
    width: 18px;
    height: 11px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .navBurger:before,
  .navBurger:after {
    content: "";
    position: absolute;
    background: #c4c4c4;
    height: 3px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navBurger:before {
    top: -10px;
  }
  .navBurger:after {
    width: 80%;
  }
  .navBurger.active {
    z-index: 10;
    background: transparent;
    background-clip: content-box;
  }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -3px;
    background: #eee;
    width: 110%;
  }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }

  .overlay {
    position: fixed;
    background: #2a3140;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  .overlay.open {
    z-index: 9;
    opacity: 0.99;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
      forwards;
    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    left: 0;
  }
  .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
  }
  .overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
  }
  .overlayMenu ul li a {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.09);
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlayMenu ul li a:hover,
  .overlayMenu ul li a:active,
  .overlayMenu ul li a:focus {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    padding-left: 80px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.03);
  }

  .locked {
    overflow: hidden;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .title--h2 {
    font-size: 3.2rem;
    line-height: 38px;
  }

  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  .section-primary {
    padding: 96px 0;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .top__desc {
    transform: none;
    padding: 0 20px;
  }

  .top__title {
    font-size: 3.2rem;
    line-height: 38px;
    margin: 18px 0 16px;
  }

  .work {
    padding: 96px 0 0;
  }

  .work-content {
    display: inline-block;
  }

  .work-content__item {
    width: 100%;
    padding-bottom: 48px;
  }

  .about {
    flex-wrap: wrap;
  }

  .about__desc {
    width: 100%;
    padding: 48px 20px;
  }

  .about__text {
    margin-bottom: 125px;
  }

  .about__images {
    width: 100%;
    min-height: 450px;
    background: url(../images/about-img-768w.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .skills {
    padding: 78px 0 16px;
  }

  .skills__content-inner {
    flex-wrap: wrap;
  }

  .skills__content-item {
    width: 100%;
  }

  .skills__content-inner > .skills__content-item:nth-child(1) {
    width: 100%;
  }

  .skills__content-inner > .skills__content-item:nth-child(2) {
    width: 100%;
    margin-left: 0;
  }

  .projects {
    padding: 64px 0 70px;
  }

  .projects__content-item {
    width: 100%;
    margin-bottom: 48px;
  }

  .about__images--instagram {
    width: 100%;
    min-height: 450px;
    background: url(../images/about-img-768w.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .dribbble {
    padding: 64px 20px;
  }

  .dribbble__img {
    margin-top: 64px;
    min-height: 514px;
  }

  .reviews {
    padding: 48px 0;
  }

  .reviews__content {
    flex-direction: column;
  }

  .reviews__content-col {
    margin-top: 64px;
  }

  .reviews__content-col:nth-child(1) {
    width: 100%;
  }

  .reviews__content-col:nth-child(2) {
    width: 100%;
    margin-left: 0;
  }

  .reviews__content-box {
    width: 100%;
    margin-bottom: 48px;
  }

  .reviews__content-img {
    width: 100%;
  }

  .photography {
    padding: 48px 0 0;
  }

  .tabs__nav {
    flex-wrap: wrap;
  }

  .tabs__nav-item {
    margin: 0 24px 24px 0;
  }

  .tabs__nav-item + .tabs__nav-item {
    margin-left: 0;
  }

  .tabs__nav-item:nth-child(1) {
    width: auto;
    margin: 0 24px 24px 0;
  }

  .tabs__nav-item:nth-child(2) {
    width: auto;
    margin: 0 24px 24px 0;
  }

  .tabs__nav-item:nth-child(3) {
    width: auto;
    margin: 0 24px 24px 0;
  }

  .tabs__nav-item:nth-child(4) {
    width: auto;
    margin: 0 24px 24px 0;
  }
  .tabs__content-img {
    width: 100%;
    margin-right: 0;
  }

  .feedback {
    padding: 48px 20px;
  }

  .feedback__content {
    flex-wrap: wrap;
  }
  .feedback__content-desc {
    width: 100%;
    padding-right: 0;
  }

  .feedback__content-form {
    margin-left: 0;
  }

  .feedback-form {
    width: 320px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer > .container {
    flex-direction: column;
  }

  .footer-nav {
    margin-left: 0;
    flex-direction: column;
  }

  .footer-info {
    padding: 0 20px 0;
  }
}
